Repository omazapa/marie_chat: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-type-check, frontend-prettier

mypy:
  name: mypy
  entry: bash -c "cd backend && mypy ."
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend-lint
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend-type-check
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -c "cd frontend && npx prettier --write ."
  language: system
  pass_filenames: false

fix: remove unused ThunderboltOutlined import from ModelSettingsModal
  frontend/components/chat/modals/ModelSettingsModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

docs: add comprehensive MCP (Model Context Protocol) integration specification
  docs/SPECIFICATIONS.md
Due: none

ci: add GitHub Actions workflows and version management system
  .github/README.md
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/version-bump.yml
  CHANGELOG.md
  VERSION
Due: none

feat: add agent dynamic configuration system
  E2E_TEST_GUIDE.md
  add_agent.sh
  backend/app/__init__.py
  backend/app/domain/entities/agent_config.py
  backend/app/routes/__init__.py
  backend/app/routes/agent_config.py
  backend/app/services/agent_config_service.py
  backend/app/services/agent_provider.py
  backend/app/services/llm_service.py
  backend/app/services/opensearch_init.py
  docs/AGENT_DYNAMIC_CONFIGURATION_PROPOSAL.md
  fix_agent_connection.sh
  frontend/app/admin/settings/page.tsx
  frontend/components/chat/AgentConfigModal.tsx
  frontend/components/index.ts
  frontend/stores/agentConfigStore.ts
  frontend/stores/index.ts
  set_agent_defaults.sh
  test_agent_config_e2e.py
  view_agent_config.sh
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: add dual protocol support to AgentProvider
  backend/app/services/agent_provider.py
Due: mypy

feat: add Agent Config button to chat interface
  frontend/components/chat/ChatContainer.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: resolve Form instance warning in AgentConfigModal
  frontend/components/chat/AgentConfigModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: improve agent config display in admin settings
  frontend/app/admin/settings/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: improve Open WebUI valves discovery
  backend/app/services/agent_provider.py
  check_providers.sh
  test_agent_schema.sh
  test_openwebui_valves.sh
Due: mypy

feat: add known schema registry for Open WebUI pipelines
  backend/app/services/agent_provider.py
Due: mypy

fix: resolve Ant Design 6 deprecation warnings
  frontend/app/admin/settings/page.tsx
  frontend/components/chat/AgentConfigModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

refactor: remove hardcoded schemas, use dynamic valves from pipeline
  backend/app/services/agent_provider.py
Due: mypy

chore: remove console.log statements from frontend
  frontend/app/admin/settings/page.tsx
  frontend/components/chat/ChatContainer.tsx
  frontend/hooks/useWebSocket.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: resolve Spin tip warning in admin settings
  frontend/app/admin/settings/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: resolve useForm warning in AgentConfigModal
  frontend/components/chat/AgentConfigModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: eliminate useForm warning in AgentConfigModal
  frontend/components/chat/AgentConfigModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: add collapsible sidebar toggle button
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/ChatSidebar.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: replace Alert message prop with title (Ant Design 6)
  frontend/components/chat/AgentConfigModal.tsx
  frontend/components/chat/ChatContainer.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: add agent configuration panel as right sidebar
  frontend/components/chat/AgentConfigPanel.tsx
  frontend/components/chat/ChatContainer.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: add user creation functionality in admin panel
  backend/app/routes/admin.py
  backend/app/services/admin_service.py
  backend/app/services/opensearch_service.py
  frontend/app/admin/users/page.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

fix: allow authenticated users to access settings endpoint
  backend/app/routes/settings.py
Due: mypy

feat: implement user settings system - backend complete
  backend/app/__init__.py
  backend/app/routes/__init__.py
  backend/app/routes/user_settings.py
  backend/app/schemas/user_settings.py
  backend/app/services/opensearch_init.py
  backend/app/services/user_settings_service.py
  docs/USER_SETTINGS_SPECIFICATION.md
Due: mypy

feat: implement user settings system - frontend complete
  backend/app/services/user_settings_service.py
  frontend/app/settings/agent/page.tsx
  frontend/app/settings/interface/page.tsx
  frontend/app/settings/layout.tsx
  frontend/app/settings/page.tsx
  frontend/app/settings/privacy/page.tsx
  frontend/app/settings/profile/page.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: add user settings access button in chat sidebar
  frontend/components/chat/ChatSidebar.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: complete privacy preferences implementation
  frontend/app/settings/privacy/page.tsx
  frontend/hooks/useUserPreferences.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

docs: add comprehensive interface preferences integration plan
  docs/INTERFACE_PREFERENCES_IMPLEMENTATION_PLAN.md
Due: none

feat: implement interface preferences store and theme system
  frontend/app/settings/interface/page.tsx
  frontend/components/ClientProviders.tsx
  frontend/components/ThemeProvider.tsx
  frontend/stores/authStore.ts
  frontend/stores/index.ts
  frontend/stores/interfaceStore.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: implement message density, timestamps, markdown/code toggles and TTS/STT integration
  frontend/components/chat/MessageItem.tsx
  frontend/components/markdown/MarkdownContent.tsx
  frontend/hooks/useSpeech.ts
  frontend/hooks/useWebSocket.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: implement complete i18n system with next-intl
  frontend/app/layout.tsx
  frontend/app/settings/interface/page.tsx
  frontend/app/settings/layout.tsx
  frontend/hooks/useLanguage.ts
  frontend/i18n.ts
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-type-check, frontend-prettier

docs: add E2E tests and comprehensive user guide for interface preferences
  docs/INTERFACE_PREFERENCES_USER_GUIDE.md
  tests/interface-preferences.spec.js
Due: frontend-lint, frontend-prettier

fix: resolve next-intl configuration errors and root layout issues
  frontend/app/layout.tsx
  frontend/i18n.ts
  frontend/lib/locale.ts
  frontend/middleware.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

style: change default theme to light
  frontend/stores/interfaceStore.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: remove duplicate menu items in settings layout
  frontend/app/settings/layout.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: resolve i18n missing translation and Ant Design 6 deprecation warnings
  frontend/app/settings/privacy/page.tsx
  frontend/messages/es.json
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: replace static message with App.useApp() hook to support dynamic theme
  frontend/app/settings/agent/page.tsx
  frontend/app/settings/interface/page.tsx
  frontend/app/settings/privacy/page.tsx
  frontend/app/settings/profile/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: add dynamic agent parameters based on selected model schema
  frontend/app/settings/agent/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(agent-preferences): fix dynamic agent config loading and linting errors
  backend/app/routes/agent_config.py
  backend/app/routes/user_settings.py
  backend/app/schemas/user_settings.py
  backend/app/services/admin_service.py
  backend/app/services/user_settings_service.py
  docs/INTERFACE_PREFERENCES_IMPLEMENTATION_PLAN.md
  docs/INTERFACE_PREFERENCES_USER_GUIDE.md
  docs/USER_SETTINGS_SPECIFICATION.md
  frontend/app/admin/users/page.tsx
  frontend/app/layout.tsx
  frontend/app/settings/agent/page.tsx
  frontend/app/settings/interface/page.tsx
  frontend/app/settings/layout.tsx
  frontend/app/settings/page.tsx
  frontend/app/settings/privacy/page.tsx
  frontend/app/settings/profile/page.tsx
  frontend/components/ThemeProvider.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/components/markdown/MarkdownContent.tsx
  frontend/hooks/useUserPreferences.ts
  frontend/lib/locale.ts
  frontend/messages/en.json
  frontend/messages/es.json
  frontend/stores/authStore.ts
  frontend/stores/interfaceStore.ts
  tests/interface-preferences.spec.js
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat(agent-preferences): implement dynamic agent configuration loading
  frontend/app/settings/agent/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

refactor: remove API Keys from chat sidebar
  frontend/components/chat/ChatSidebar.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

Path conditions:
  mypy: any of: \.py$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-type-check: any of: \.(ts|tsx)$
  frontend-prettier: any of: \.(ts|tsx|js|jsx|css|html|json)$
