Repository omazapa/marie_chat: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-type-check, frontend-prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && mypy ."
        language: system
        types: [python]
        pass_filenames: false

      - id: frontend-lint
        name: frontend-lint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-type-check
        name: frontend-type-check
        entry: bash -c "cd frontend && npm run type-check"
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: frontend-prettier
        entry: bash -c "cd frontend && npx prettier --write ."
        language: system
        files: \.(ts|tsx|js|jsx|css|html|json)$
        pass_filenames: false

Fix: Resolve all backend type errors identified by mypy
  backend/app/routes/auth.py
  backend/app/routes/images.py
  backend/app/routes/v1/chat.py
  backend/app/routes/v1/conversations.py
  backend/app/routes/v1/search.py
  backend/app/services/huggingface_provider.py
  backend/app/services/image_service.py
  backend/app/services/llm_service.py
  backend/app/services/ollama_provider.py
  backend/app/services/reference_service.py
  backend/app/sockets/chat_events.py
  backend/app/utils/auth.py
  backend/mypy.ini
Due: mypy

Feat: Add Developer API for settings and update tests to handle temporary registration
  backend/app/__init__.py
  backend/app/routes/v1/settings.py
  backend/create_admin_user.py
  tests/auth-flow.spec.js
  tests/create-test-user.spec.js
  tests/phase2-chat.spec.js
Due: mypy, frontend-lint, frontend-prettier

Security: Update react-syntax-highlighter to v16.1.0 to fix prismjs vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

chore: update backend dependencies to latest stable versions
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

chore: update frontend dependencies to latest stable versions
  frontend/package.json
Due: frontend-prettier

feat: add local model management using HuggingFace Hub
  backend/README.md
  backend/app/config.py
  backend/app/services/huggingface_hub_service.py
  backend/app/services/image_service.py
  backend/app/services/memory_service.py
  backend/app/services/speech_service.py
  backend/download_models.py
Due: mypy

feat: improve provider configuration UI with connection testing and fix HuggingFace provider
  backend/app/routes/settings.py
  backend/app/services/huggingface_provider.py
  frontend/app/admin/settings/page.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

fix(auth): resolve scroll issues and improve UI layout for login and register forms
  frontend/components/auth/LoginForm.tsx
  frontend/components/auth/RegisterForm.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat(llm): add auto-refresh for Ollama models and enhance model selector with metadata
  frontend/app/admin/settings/page.tsx
  frontend/components/chat/ModelSelector.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: add remote agent provider and fix chat streaming state management
  .github/copilot-instructions.md
  backend/app/__init__.py
  backend/app/config.py
  backend/app/domain/entities/chat.py
  backend/app/routes/conversations.py
  backend/app/routes/settings.py
  backend/app/services/agent_provider.py
  backend/app/services/llm_provider.py
  backend/app/services/llm_service.py
  backend/app/services/provider_factory.py
  backend/app/services/settings_service.py
  docker-compose.yml
  frontend/app/admin/settings/page.tsx
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/components/chat/MessageList.tsx
  frontend/components/chat/modals/ModelSettingsModal.tsx
  frontend/hooks/useChat.ts
  frontend/hooks/useSettings.tsx
  frontend/hooks/useWebSocket.ts
  frontend/package-lock.json
  frontend/package.json
  tests/phase2-chat.spec.js
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: improve streaming UX with Ant Design X native components
  .github/copilot-instructions.md
  backend/app/__init__.py
  backend/app/routes/health.py
  backend/app/services/agent_provider.py
  backend/app/services/ollama_provider.py
  backend/app/sockets/chat_events.py
  backend/app/utils/logger.py
  docs/IMPROVEMENT_PLAN.md
  docs/tech-stack/01_NEXTJS_REACT.md
  docs/tech-stack/02_FLASK_SOCKETIO.md
  docs/tech-stack/03_OPENSEARCH.md
  docs/tech-stack/04_ANT_DESIGN_X.md
  docs/tech-stack/README.md
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/components/chat/ThinkingIndicator.tsx
  frontend/hooks/useChat.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: ensure settings persistence after save
  frontend/app/admin/settings/page.tsx
  frontend/hooks/useSettings.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

wip: start FastAPI migration from Flask + eventlet
  backend/app/__init___fastapi.py
  backend/app/routes/health_fastapi.py
  backend/app/utils/auth_fastapi.py
  backend/requirements.txt
  backend/run_fastapi.py
  docs/FASTAPI_MIGRATION.md
Due: mypy

feat: remove eventlet, use threading mode for Flask-SocketIO
  backend/app/__init__.py
  backend/app/routes/auth_fastapi.py
  backend/requirements.txt
  backend/run.py
Due: mypy

docs: add comprehensive progress summary
  docs/PROGRESS_SUMMARY.md
Due: none

feat: complete Flask to FastAPI migration - remove _fastapi suffixes
  backend/app/__init__.py
  backend/app/__init___fastapi.py
  backend/app/__init___flask_backup.py
  backend/app/routes/auth.py
  backend/app/routes/auth_fastapi.py
  backend/app/routes/health.py
  backend/app/routes/health_fastapi.py
  backend/app/utils/auth.py
  backend/app/utils/auth_fastapi.py
  backend/run.py
  backend/run_fastapi.py
  backend/run_flask_backup.py
  docs/PROGRESS_SUMMARY.md
Due: mypy

feat: add comprehensive backend test suite
  backend/app/config.py
  backend/pytest.ini
  backend/requirements-test.txt
  backend/run_tests.sh
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_auth_utils.py
  backend/tests/test_health.py
Due: mypy

feat: add parallel test execution with pytest-xdist
  backend/pytest.ini
  backend/requirements-test.txt
  backend/run_tests.sh
  backend/tests/README.md
Due: none

fix: lazy import app in conftest to avoid loading during collection
  backend/tests/conftest.py
Due: mypy

docs: add testing quick reference at root level
  TESTING.md
Due: none

feat: migrate settings routes to FastAPI
  backend/app/routes/settings.py
Due: mypy

refactor: remove all Flask support - FastAPI only
  backend/app/__init___flask_backup.py
  backend/app/config.py
  backend/app/routes/__init__.py
  backend/app/utils/logger.py
  backend/run_flask_backup.py
Due: mypy

docs: add Flask to FastAPI migration status tracker
  docs/FLASK_TO_FASTAPI_STATUS.md
Due: none

refactor: migrate from eventlet to threading mode
  .github/copilot-instructions.md
  backend/app/__init__.py
  backend/app/routes/images.py
  backend/app/services/agent_provider.py
  backend/app/services/ollama_provider.py
  backend/app/services/prompt_service.py
  backend/app/services/settings_service.py
  backend/app/sockets/chat_events.py
  backend/create_admin_user.py
  backend/requirements.txt
  backend/run.py
Due: mypy

fix: load default LLM provider/model from backend settings
  frontend/components/chat/ChatContainer.tsx
  frontend/hooks/useChat.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

refactor: reduce backend logging verbosity
  backend/app/routes/conversations.py
  backend/app/sockets/chat_events.py
  frontend/components/chat/ThinkingIndicator.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: implement professional logging system
  .github/copilot-instructions.md
  backend/.gitignore
  backend/app/middleware/logging_middleware.py
  backend/app/utils/logger.py
Due: mypy

fix: resolve all backend type errors properly
  backend/app/__init__.py
  backend/app/config.py
  backend/app/routes/health.py
  backend/app/services/agent_provider.py
  backend/app/services/llm_service.py
  backend/app/utils/logger.py
Due: mypy

fix: configure pre-commit to run locally and fix frontend issues
  frontend/components/chat/MessageList.tsx
  frontend/components/chat/ThinkingIndicator.tsx
  frontend/package-lock.json
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: improve WebSocket connection handling in logging middleware
  backend/app/middleware/logging_middleware.py
Due: mypy

refactor: remove verbose console logs from frontend
  frontend/hooks/useWebSocket.ts
  frontend/lib/api.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: improve WebSocket detection in logging middleware
  backend/app/middleware/logging_middleware.py
Due: mypy

fix: resolve WebSocket connection issues and improve middleware
  .github/copilot-instructions.md
  README.md
  backend/app/middleware/logging_middleware.py
  frontend/components/chat/ChatSidebar.tsx
  frontend/hooks/useWebSocket.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: improve chat stability and remove debug logs
  frontend/hooks/useChat.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: disable WebSocket upgrade to prevent invalid frame header error
  frontend/hooks/useWebSocket.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: improve UX and fix configuration persistence
  backend/app/services/image_service.py
  backend/app/services/settings_service.py
  frontend/components/chat/PromptOptimizer.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: implement multi-provider management system
  backend/app/routes/settings.py
  backend/app/services/provider_factory.py
  backend/app/services/settings_service.py
  frontend/app/admin/settings/page.tsx
  frontend/components/admin/ProviderManager.tsx
  frontend/types/index.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

feat: add cascading provider selection (type → instance → model)
  frontend/app/admin/settings/page.tsx
  frontend/types/index.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: display provider name in chat header and update modal
  backend/app/services/llm_service.py
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/modals/ModelSettingsModal.tsx
  frontend/types/index.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier
