Repository omazapa/marie_chat: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-type-check, frontend-prettier

mypy:
  name: mypy
  entry: bash -c "cd backend && mypy ."
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend-lint
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend-type-check
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -c "cd frontend && npx prettier --write ."
  language: system
  pass_filenames: false

refactor: remove API Keys from chat sidebar
  frontend/components/chat/ChatSidebar.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(lint): resolve all TypeScript and ESLint warnings
  frontend/app/admin/users/page.tsx
  frontend/app/settings/agent/page.tsx
  frontend/app/settings/interface/page.tsx
  frontend/app/settings/privacy/page.tsx
  frontend/app/settings/profile/page.tsx
  frontend/components/admin/ProviderManager.tsx
  frontend/components/chat/AgentConfigModal.tsx
  frontend/components/chat/AgentConfigPanel.tsx
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/MessageArea.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/components/chat/PromptOptimizer.tsx
  frontend/components/chat/modals/ImageGenerationModal.tsx
  frontend/components/markdown/MarkdownContent.tsx
  frontend/hooks/useChat.ts
  frontend/hooks/useUserPreferences.ts
  frontend/hooks/useWebSocket.ts
  frontend/i18n.ts
  frontend/stores/agentConfigStore.ts
  frontend/stores/interfaceStore.ts
  frontend/types/index.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat(theme): improve dark mode support across all components
  frontend/app/globals.css
  frontend/components/ThemeProvider.tsx
  frontend/components/auth/LoginForm.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(theme): systematically replace all hardcoded backgrounds with CSS variables
  frontend/app/admin/layout.tsx
  frontend/app/admin/page.tsx
  frontend/app/admin/settings/page.tsx
  frontend/app/admin/system/page.tsx
  frontend/app/admin/users/page.tsx
  frontend/app/globals.css
  frontend/app/settings/keys/page.tsx
  frontend/app/settings/layout.tsx
  frontend/components/ThemeProvider.tsx
  frontend/components/admin/ProviderManager.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/components/chat/ChatContainer.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatSidebar.tsx
  frontend/components/chat/FileCard.tsx
  frontend/components/chat/MessageArea.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/components/chat/ModelSelector.tsx
  frontend/components/chat/PromptOptimizer.tsx
  frontend/components/chat/UserAvatar.tsx
  frontend/components/chat/WelcomeScreen.tsx
  frontend/components/chat/modals/ReferenceModal.tsx
  frontend/components/markdown/HTMLArtifact.tsx
  frontend/components/markdown/LatexArtifact.tsx
  frontend/components/markdown/MarkdownContent.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(i18n): correct translation key for save preferences button
  frontend/app/settings/interface/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(i18n): add missing savePreferences translation key
  frontend/app/settings/interface/page.tsx
  frontend/messages/en.json
  frontend/messages/es.json
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(theme): load user preferences in admin and settings layouts
  frontend/app/admin/layout.tsx
  frontend/app/settings/layout.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: Use provider ID instead of type for agent selection
  backend/app/routes/agent_config.py
  backend/app/services/provider_factory.py
  frontend/app/admin/settings/page.tsx
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

fix: prevent logout on page refresh by waiting for store hydration
  backend/app/services/provider_factory.py
  frontend/app/admin/layout.tsx
  frontend/app/settings/layout.tsx
  frontend/stores/authStore.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

fix: improve model selection in conversation modal
  frontend/components/chat/ChatSidebar.tsx
  frontend/components/chat/modals/ModelSettingsModal.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

feat: improve agent preferences with provider hierarchy and collapsible sections
  frontend/app/settings/agent/page.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: agent chat with provider hierarchy and stream timeout improvements
  backend/app/services/llm_service.py
  backend/app/services/provider_factory.py
  frontend/hooks/useChat.ts
Due: mypy, frontend-lint, frontend-type-check, frontend-prettier

fix: use provider_id in frontend agent config store and components
  frontend/components/chat/ChatContainer.tsx
  frontend/stores/agentConfigStore.ts
  frontend/types/index.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: add success notification for agent config save and use App.useApp()
  frontend/components/chat/AgentConfigPanel.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

ui: remove 'New Chat' button from top panel
  frontend/components/chat/ChatContainer.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix: use provider_id to load agent configuration
  backend/app/services/llm_service.py
Due: mypy

ui: improve user message background color visibility
  frontend/components/chat/MessageItem.tsx
  frontend/lib/theme.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

[fix] removed unneeded files
  E2E_TEST_GUIDE.md
  add_agent.sh
  check_providers.sh
  fix_agent_connection.sh
  set_agent_defaults.sh
  test_agent_config_e2e.py
  test_agent_schema.sh
  test_openwebui_valves.sh
  view_agent_config.sh
Due: mypy

refactor: externalize OpenSearch and Ollama from docker-compose
  .env.example
  docker-compose.yml
Due: none

feat: rename indices to marie_chat_* and add admin initialization
  .env.example
  backend/app/services/admin_init.py
  backend/app/services/admin_service.py
  backend/app/services/agent_config_service.py
  backend/app/services/api_key_service.py
  backend/app/services/llm_service.py
  backend/app/services/memory_service.py
  backend/app/services/opensearch_init.py
  backend/app/services/opensearch_service.py
  backend/app/services/settings_service.py
  backend/app/services/user_settings_service.py
  backend/create_admin_user.py
  backend/run.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-type-check: any of: \.(ts|tsx)$
  frontend-prettier: any of: \.(ts|tsx|js|jsx|css|html|json)$
